*
{
    margin: 0px;
    padding: 0px;
 
}
body
{
    font-family: 'Times New Roman', Times, serif;
}
.contain
{
    display: flex;
    padding: 20px;
}
.info h2
{
    color: red;
    font-weight: bold;
}
.contain .info
{
    margin-left: 30px;
}
.contain .info ul
{
    padding: 5px 10px;
}
.contain .info .sp1
{
    background: red;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.info a
{
    background: palevioletred;
    color: black;
    font-weight: bold;
}
.info a span.sp2
{
    font-weight: bold;
    color: blue;
}